.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../fondo02.gif");
  background-size: cover;
  background-position: center;
  gap: 0.5em;
}
.app__card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.isLoading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;

  
}
.map__card {
  width: 100%;
  max-width: 400px;
  border-radius: 0.9em;
}

.error__card {
  background-color: rgba(255, 0, 0, 0.6);
  padding: 0.5em 1em;
  border-radius: 1em;
  font-size: 1.4em;
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: rgba(203, 245, 179, 0.941);
  text-shadow: 3px 3px 5px black;
  margin-top: 0.5em;
}

@media (max-width: 600px) {
  .app {
    flex-direction: column;
    padding: 0 0.5em;
  }
}
